<!DOCTYPE html>
<html>
  <head>
    <title>Unlocked Page</title>
    <style>
      body {
        background-color: #111; /* Dark background color */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .content {
        text-align: center;
      }
      h1 {
        color: #eee; /* Light text color */
        font-size: 1000%;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1>{{content}}</h1>
    </div>
  </body>
</html>
